@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:400,600');

/* ----------------------------------------
Base Styles
------------------------------------------- */
body {


}


header {
	background:url("../images/blog_header_bg.jpg") no-repeat center center;
	background-image: cover;
	margin: 25px 0px;
}

h1 {
	padding-top: 130px;
	padding-bottom: 130px;
}

.gallery-text {
	color: white;
	padding:100px;
	text-align: center;
	color:white;

}

a {
		text-decoration:none;
	}

a:hover{
	color:#44545E;

}

nav a{
	color:#7B98AA;
	font-size: 16px;
	margin: 60px;

}

header a {
	color:white;
	font-size: 37px;
	padding-top:130px;
	padding-bottom:130px;
	font-weight: 600;
	letter-spacing: 12px;


}

.grid-container {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-column-gap: 50px;
	margin: 60px;
}


nav, h1,h3,h2, li {
	font-family: 'Raleway';
	font-weight: 600;
}

nav{
	font-size: 16px;
	text-align: center;
	margin-top:10px;
}

h1{
	color:#44545E;
	text-align: center;
}

h3{

	color:#44545E;
	text-align: left;
	font-size: 18px;
	}

h2{
	color:#44545E;
	text-align: left;
	font-size: 23px;
}


p{
	font-family: 'lato';
	font-size: 15px;
}

/* Fix for responsive images */
img {
	max-width: 100%;

}


li {
	font-size: 15px;
}

li a {
	color:#7B98AA;
}

footer {
	background-color: #CDF3F6;
	text-align: center;
	color:#44545E;
	margin: 25px;
	font-family: 'lato';
	font-weight: 400;
}

hr{
	border-top: 1px solid #44545E;

}

footer i{
	margin:50px 20px 30px 20px

}

footer a {
	color:#44545E;
	font-weight:bold;
	font-size: 15px;
}

footer p {
	color:#44545E;
	font-size: 15px;
	margin:25px;
}

button, input {
	outline: none;
	color: #44545E;
	padding: 5px 12px 5px 15px;
	margin: 25px;
	text-align: center;
}

button {
	background-color:transparent;
	border: 2px solid #44545E;
}

/*input {
	text-align: center;
	margin: 25px;
	font-family: 'lato';
	padding: 5px 12px 5px 15px;
	color: #44545E;
}
*/
