@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i|Spectral:400,400i');


header {
  font-family: open sans;
  color:#333333;
  background:#FCEE21;
  text-align: center;
}

h1 {
  font-size: 40px;
  text-align: center;
}
h2{
  font-size: 24px;
  text-align: center;
   font-family: open sans;
}

h3{
  font-family: open sans;
  font-size: 22px;
  text-align: center;

}

h4{
  font-family: spectral;
  font-size: 20px;
  text-align: center;

}

p{
  font-family: spectral;
  font-size: 20px;
}

img{
  display: block;
  margin: 0 auto;
}
